.paginator {
  margin: 10px;
  padding-left: 55px;
  position: relative;
}
.pageNumber {
  padding: 2px 5px;
  margin: 0 5px;
  border: 1px solid grey;
  cursor: pointer;
}

.pageNumber.selectedPage {
  font-weight: 700;
  border-color: #000;
}

.arrow_left {
  position: absolute;
  left: 0;
  cursor: pointer;
  border: none;
}

.arrow_right {
  cursor: pointer;
border: none;
}
