.photo {
 width: 100px;
 height: 100px;
 object-fit: cover;
 border-radius: 50%;
}

.unfollow {
 background-color: rgb(248, 57, 57);
 border: none;
 padding: 5px;
 width: 100px;
}

.buttons button {
 width: 100px;
 padding: 5px;
 cursor: pointer;
 font-size: 16px;
 line-height: 20px;
 border-radius: 5px;
}

.follow {
 background-color: rgb(72, 192, 72);
 border: none;

}

.userItem{
 margin: 30px 0;
 display: flex;
 background-color: rgb(162, 246, 218);
 border-radius: 15px;
 padding: 10px 0;
}

.userInfo{
 margin: 0 50px 0 10px;
}

.userDescriptionLeft{
 font-size: 24px;
 line-height: 28px;
}