.app-wrapper {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 10px;
  display: grid;
  grid-template-areas:
    "h h "
    "n c ";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 240px 1fr;
  grid-gap: 10px;
}

.app-wrapper-content{
   grid-area: c;
   background-color: bisque;
}


