.app-wrapper {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
  display: grid;
  grid-template-areas:
    "h h "
    "n c ";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  grid-area: h;
  background-color: rgb(186, 228, 139);
}

.header img {
  width: 50px;
}

.nav {
  grid-area: n;
  background-color: aqua;
}

.content {
  grid-area: c;
  background-color: bisque;
}