.app-wrapper {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
  display: grid;
  grid-template-areas:
    "h h "
    "n c ";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 240px 1fr;
  grid-gap: 10px;
}




